<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
  <div class="container w-auto">
    <a class="navbar-brand " href="/">Result Management System</a>     
  </div>
  <div class="">
      <a href="/" class="btn btn-danger text-light" style="margin-top:5px;">Logout</a>
 </div>
</nav>