<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main class="container mt-5">
    <div class="mb-3">
        <a href="/teacher/view" class="btn btn-info" style="margin-top:5px;">Back</a>
    </div>

    <div class=" text-center text-success">
      <% if(message.length > 0){ %>
         <h4> <%- message %> </h4>
      <% } %>
    </div>

    <h4>Add Student-Result</h4>
    <form method="POST"  autocomplete="off">
        <div class="mb-3">
          <label for="roll" class="form-label">Roll : </label>
          <input type="number" name="roll" required class="form-control" id="roll">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Name : </label>
            <input type="text" name="name" required class="form-control" id="name" >
          </div>
          
          <div class="mb-3">
            <label for="dob" class="form-label">Date of Birth : </label>
            <input type="date" name="dob" class="form-control" id="dob">
          </div>
          <div class="mb-3">
            <label for="score" class="form-label">Score : </label>
            <input type="number" name="score" required class="form-control" id="score">
          </div>
        <button type="submit" class="btn btn-success">Add</button>
        <button type="reset" class="btn btn-info">Clear</button>
        <a href="/teacher/view" class="btn btn-primary mx-3">View All</a>
    </form>
</main>

</body>
</html>