<div style="font-size: 50px;
color: red;
text-align: center">
    <% if(message.length > 0){ %>
        <p><%- message %></p>
    <% }else{ %>
        Oooopss !! Error 404: Page Not Found :(
    <% } %>
</div>